@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container{
    margin: 10px;
    /* background-color: #333; */
}
body{
    /* Borrar */
    background-color: #333;
}
.table-width-auto{
    width: auto !important;
    /* width: 70% !important; */
}
.cursor-pointer{
    cursor: pointer;
}
.btnAddItem{
    padding-top: 18px;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* .selectSemantic > div{
    height: auto !important;
} */



/* .home {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
} */

